.dialog.loading
#title .loading
#about .loading
#twenty .loading
#auth .loading span
#signup .loading span
#createPuzzle .uploading
    background-image url('/img/loader_black.gif')
    
#selected
    background-image url('/img/pieces.png')
    
.dialog .close em
    background-image url('/img/close.gif')
    
nav.info .expcol em
    background-image url('/img/corner_bottom_right.gif')

nav.info.collapsed .expcol em
    background-image url('/img/corner_top_left.gif')
