#about
#twenty
    display none
    line-height 20px
    font-size 14px
    text-align justify
    
#about
    width 500px
    height 510px
    
#twenty
    width 440px
    height 280px    
    
#twenty .page
    margin-top 20px

#about .red
    padding 0px 5px
    background #f44
    color #fff

#about .dim
    padding 0px 5px
    background #fff
    color #000
    
#about .blue
    padding 0px 5px
    background #44f
    color #fff
    
#about .loading
    display inline-block
    margin-bottom -3px
    height 16px
    width 16px

#about .loading
#twenty .loading
    background-repeat no-repeat
    background-position center

#about h1
    padding-top 5px
    font-size 24px

#about span
    line-height 12px
    letter-spacing 1px
    font-size 12px

#about h2
    font-weight bold
    font-size 16px

#about h3
    font-weight normal
    font-size 14px

#about p
    padding 5px 0 10px 0
    font-size 12px
    line-height 18px

#about ul
    margin-bottom 10px

#about li
    line-height 16px

#about a
    color #000
    font-size 12px
    
#about .likeButtons span
    display inline-block
    margin-right 5px
    height 22px
    vertical-align top
    width 100px

#about .likeButtons .fb
    width 82px
    
#twenty h2
    margin-bottom 10px
    font-size 16px

#twenty .leaders
    position relative
    overflow hidden
    margin 0
    height 250px
    width 440px

#twenty .leaders .viewportContent
    z-index 99

#twenty .leaders ul
    display block
    width 440px

#twenty .leaders li
    display block
    height 25px
    width 100%
    line-height 24px

#twenty .leaders span
    display inline-block

#twenty .leaders .num
    margin-right 5px
    width 20px
    font-size 11px
    text-align right

#twenty .leaders .name
    width 240px

#twenty .leaders .time
    width 60px
    padding-right 10px
    font-size 10px
    text-align center

#twenty .leaders .num
#twenty .leaders .score
    font-family georgia

#twenty .leaders .score
    width 70px
    text-align right

#twenty .scrolla
    position absolute
    z-index 100
    right 2px
    width 10px
    background #fff
    border 1px solid #555
    border-radius 5px
    horizontal-gradient(rgb(170,170,170), rgb(255,255,255))
