#about
#twenty
    display none
    width 440px
    height 250px
    
#twenty
    height 280px

#about .tabs
    position absolute
    top 10px
    left 20px
    height 14px

#about .tabs li
    float left
    position relative
    margin-right 10px

#about .tabs li.sel
    vertical-gradient(rgb(255,255,255), rgb(180,180,180))

#about .tabs li.sel i
    position absolute
    left 50%
    top 100%
    display block
    margin-left -5px
    border 5px solid transparent
    border-top-color #fff

#about .page
#twenty .page
    margin-top 20px
    height 100%
    line-height 20px
    font-size 14px
    text-align justify

#about .howtoplay h1
    padding 5px 4px
    font-size 20px

#about .howtoplay p
    margin 5px 4px 10px 4px
    font-size 12px

#about .howtoplay .red
    padding 1px 5px
    background #f44
    color #fff

#about .howtoplay .dim
    padding 1px 5px
    background #fff
    color #000
    
#about .howtoplay .blue
    padding 1px 5px
    background #44f
    color #fff
    
#about .howtoplay .loading
    display inline-block
    margin-bottom -3px
    height 16px
    width 16px

#about .loading
#twenty .loading
    background-repeat no-repeat
    background-position center
    
#twenty h2
    margin-bottom 10px
    font-size 16px

#twenty .leaders
    position relative
    overflow hidden
    margin 0
    height 250px
    width 440px

#twenty .leaders .viewportContent
    z-index 99

#twenty .leaders ul
    display block
    width 440px

#twenty .leaders li
    display block
    height 25px
    width 100%
    line-height 24px

#twenty .leaders span
    display inline-block

#twenty .leaders .num
    margin-right 5px
    width 20px
    font-size 11px
    text-align right

#twenty .leaders .name
    width 240px

#twenty .leaders .time
    width 60px
    padding-right 10px
    font-size 10px
    text-align center

#twenty .leaders .num
#twenty .leaders .score
    font-family georgia

#twenty .leaders .score
    width 70px
    text-align right

#about .scrolla
#twenty .scrolla
    position absolute
    z-index 100
    right 2px
    width 10px
    background #fff
    border 1px solid #555
    border-radius 5px
    horizontal-gradient(rgb(170,170,170), rgb(255,255,255))

#about .about
    padding-left 4px
    padding-right 20px

#about .about h1
    padding-top 5px
    font-size 24px

#about .about span
    line-height 12px
    letter-spacing 1px
    font-size 12px

#about .about h2
    font-weight bold
    font-size 16px

#about .about h3
    font-weight normal
    font-size 14px

#about .about p
    padding 5px 0 10px 0
    font-size 12px
    line-height 16px

#about .about ul
    margin-bottom 10px

#about .about li
    line-height 16px

#about .about a
    color #000
    font-size 12px
