nav
    display none
    position absolute
    z-index 1001
    float left
    right 10px
    border 1px solid #555
    background rgba(0,0,0,0.7)
    box-shadow 0 0 5px #000
    text-align center
    font-size 10px
    color #fff

nav a
    color #fff

nav a:hover
    text-decoration none

nav.user
    height 38px
    top 0px

nav.info
    bottom 0px
    width 152px

nav .leadersboard
    margin 7px 0 5px 0
    padding 0 5px 5px 5px
    border-bottom 1px dotted #fff
    text-align left

nav .leadersboard em
    display block
    padding 0
    height 14px
    line-height 13px
    font-style normal

nav .leadersboard .viewport
    margin-top 5px
    height 14px
    width 140px

nav .leadersboard .viewport em
    width 140px

nav .leadersboard .viewport em.empty
    text-align center

nav .leadersboard .scrolla
    position absolute
    right 0px
    width 2px
    background rgba(255,255,255,0.5)
    border-radius 3px
    box-shadow 0 0 2px #000;

nav .leadersboard .button
    float right
    margin-top -1px

nav .leadersboard .status
    float left
    display block
    margin 4px 5px 0 1px
    padding 0
    height 6px
    width 6px
    background #6f0
    border-radius 3px
    
nav .leadersboard .status.offline
    background #ddd

nav .leadersboard .name
    overflow hidden
    display inline-block
    margin-right 5px
    white-space nowrap
    width 86px

nav .leadersboard .num
    overflow hidden
    display inline-block;
    width 35px
    text-align right

nav .leadersboard .pts
    margin-left 3px
    font-family Arial
    color #ddd

nav.user .column
    float left
    padding 0 5px
    height 100%
    border-left 1px dotted #fff
    
nav.user .first
    border-left none

nav.user .score
    display block
    margin-top 5px
    
nav.user .num
    margin 0 2px
    color #fff
    font-size 18px
    font-family georgia
    text-shadow 0 0 10px #fff, 0 0 5px #fff

nav.user .name
    margin-top 5px
    margin-bottom 2px

nav.user .pts
    color #ddd

nav.user .auth
nav.user .logout
    display none;
    text-decoration underline
    cursor pointer

nav.user .auth:hover
nav.user .logout:hover
    text-decoration none
    
nav.user .about
    padding 0
    margin-top 8px
    height 22px
    width 22px
    line-height 22px
    color #fff
    font-size 15px
    font-weight bold
    border-radius 11px
    text-shadow 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000

nav .openMenu
    margin 0 2px 5px 0

nav .createPuzzle
    margin 0 0 5px 2px
    vertical-gradient(rgb(235,235,0), rgb(255,255,255))
    
nav .createPuzzle:hover
    vertical-gradient(rgb(235,235,100), rgb(255,255,255))
    
nav .createPuzzle:active
    background rgb(235,235,150)

nav.info .expcol
    left -7px
    top -7px

nav.info .expcol
    display none

nav.info:hover .expcol
    display block
    
.dialog .close em
nav .expcol em
    display block
    height 100%
    width 100%
    background-repeat no-repeat
    background-position center

nav.info .expcol em
    background-image url('/img/corner_bottom_right.gif')

nav.info.collapsed .expcol em
    background-image url('/img/corner_top_left.gif')